.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1rem;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1;
}

.post_area {
  width: 90%;
  margin: 3.4rem auto;
  max-width: 44rem;
}

.post_area > h1 {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding: 8px;
  margin: 0;
  font-size: 2.0rem;
}

.post_area > h3 {
  margin: 5px;
}

.postImage {
  max-width: 600px;
  margin: 20px auto;
}

.markdown {
  max-width: 600px;
  margin: 0 auto;
}

.btn {
  display: table;
  margin: 30px auto;
  color: blue;
  font-size: 1.2rem;
}

.btn:hover {
  text-decoration: underline;
}

.graph {
  background-color: #343941;
  margin: 0 auto;
  padding: 20%;
}

.index a.active {
  color: #333333;
  background-color: #f3f3f3;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
